@import url(https://fonts.googleapis.com/css2?family=Comfortaa&family=Literata);
* {
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=826&t=st=1705575660~exp=1705576260~hmac=496f7e8e0c376d25671be61f742f08aabda17e551acc9cfe4a43fbbaf725a35c);
  background-position: center;
  background-size: cover;
}
.formBox {
  position: relative;
  width: 400px;
  height: 450px;
  background: rgba(63, 86, 108, 0.403);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  backdrop-filter: blur(15px);
}
h1 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
  top: 5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}
.inputbox img {
  position: absolute;
  right: 8px;
  top: 20px;
  height: 24px;
  width: 24px;
  opacity: 80%;
}
.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.forget label input {
  margin-right: 3px;
}
.forget a {
  color: rgba(229, 229, 229, 0.803);
  text-decoration: none;
  transition: 0.3s;
}
.forget a:hover {
  color: rgb(6, 37, 46);
}
button {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  transition: 0.5s;
  margin-top: 30px;
}
.registor {
  text-align: center;
  margin: 25px 0 10px;
}
.registor p a {
  font-size: 0.9em;
  text-decoration: none;
  color: rgba(229, 229, 229, 0.803);
  transition: 0.5s;
  font-weight: 600;
}
.registor a:hover {
  color: rgb(6, 37, 46);
}
button:hover {
  color: #fff;
  background-color: rgba(15, 97, 122, 0.707);
}
